## Question 1. Answer

In [1]:
import sqlite3
import csv

In [ ]:
def famous_writers_data(data):
    try:
        # Connecting to database
        conn = sqlite3.connect('famous_writers.db')
        cursor = conn.cursor()
        # Creating table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS writers (
            writer_id PRIMARY KEY,
            name TEXT,
            birth_year INT,
            nationality TEXT,
            notable_work TEXT)
            """
        )
        with open(data, "r") as csv_file:
            csv_reader = csv.reader(csv_file)
            # skip headers
            next(csv_reader)
            for row in csv_reader:
                cursor.execute("INSERT INTO writers VALUES (?, ?, ?, ?, ?)", row)
        conn.commit()
        print("Data loaded successfully")
    except Exception as e:
        print(f"Error: {e}")
    finally:
        conn.close()

# Loading data
data = "/content/famous_writers.csv"
famous_writers_data(data)

Data loaded successfully

In [3]:
# Loading Magic Extension
%load_ext sql

In [4]:
# Using the extension to connect to database
%sql sqlite:///famous_writers.db

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%%sql
SELECT * FROM writers LIMIT 5;

 * sqlite:///famous_writers.db
Done.

[('1', 'Leo Tolstoy', 1828, 'Russian', '  War and Peace'),
 ('2', 'Charles Dickens', 1812, 'English', '  Great Expectations'),
 ('3', 'Fyodor Dostoevsky', 1821, 'Russian', '  Crime and Punishment'),
 ('4', 'Mark Twain', 1835, 'American', 'Adventures of Huckleberry Finn'),
 ('5', 'Jane Austen', 1775, 'English', 'Pride and Prejudice')]

## Question 2. Answer (Part A)

In [7]:
%%sql
SELECT
    writer_id,
    notable_work,
    CASE
        WHEN notable_work <> TRIM(notable_work) THEN
        'leading or trailing whitespace found'
        ELSE 'NO leading or trailing whitespace found'
    END AS whitespace_status
FROM writers
WHERE whitespace_status LIKE 'leading or trailing whitespace found'
LIMIT 5;

 * sqlite:///famous_writers.db
Done.

[('1', '  War and Peace', 'leading or trailing whitespace found'),
 ('2', '  Great Expectations', 'leading or trailing whitespace found'),
 ('3', '  Crime and Punishment', 'leading or trailing whitespace found'),
 ('9', '  The Metamorphosis', 'leading or trailing whitespace found'),
 ('10', '  The Old Man and the Sea', 'leading or trailing whitespace found')]

## Part B. Answer

In [8]:
%%sql
SELECT
    COUNT(*) AS rows_count_with_whitespace
FROM writers
WHERE notable_work <> TRIM(notable_work);

 * sqlite:///famous_writers.db
Done.

[(28,)]

## Part C. Answer

In [9]:
%%sql
UPDATE writers
SET notable_work = TRIM(notable_work)
WHERE notable_work <> TRIM(notable_work);

 * sqlite:///famous_writers.db
28 rows affected.

[]

In [10]:
%%sql
SELECT
    COUNT(*) AS count_with_whitespace
FROM writers
WHERE notable_work <> TRIM(notable_work);

 * sqlite:///famous_writers.db
Done.

[(0,)]

## Question 3. Answer

In [11]:
%%sql
SELECT
    notable_work,
    LENGTH(notable_work) AS notable_work_length
FROM writers
ORDER BY notable_work_length DESC
LIMIT 3;

 * sqlite:///famous_writers.db
Done.

[('Strange Case of Dr Jekyll and Mr Hyde', 37),
 ('Adventures of Huckleberry Finn', 30),
 ('One Hundred Years of Solitude', 29)]

## Question 4. Answer

In [12]:
%%sql
SELECT
    notable_work,
    printf("%20s", INSTR(notable_work, "a")) AS
    index_of_letter_a
FROM writers
ORDER BY index_of_letter_a DESC LIMIT 1;

 * sqlite:///famous_writers.db
Done.

[('The Picture of Dorian Gray', '                  20')]

## Question 5. Answer

In [13]:
%%sql
SELECT
    name || ', ' || nationality AS name_with_nationality
FROM writers
LIMIT 5;

 * sqlite:///famous_writers.db
Done.

[('Leo Tolstoy, Russian',),
 ('Charles Dickens, English',),
 ('Fyodor Dostoevsky, Russian',),
 ('Mark Twain, American',),
 ('Jane Austen, English',)]

##  Question 6. Answer

In [14]:
%%sql
SELECT
    SUBSTR(notable_work, -5) AS notable_work_last_five_letters
FROM writers
LIMIT 5;

 * sqlite:///famous_writers.db
Done.

[('Peace',), ('tions',), ('hment',), (' Finn',), ('udice',)]

In [15]:
# %%sql
# DROP TABLE writers;