## Question 1: **Answer**

In [1]:
import pandas as pd
import sqlite3

In [ ]:
def add_data_to_database(data):
    try:
        data = pd.read_csv(data)
        engine = sqlite3.connect("mechanics_data.db")
        data.to_sql('mechanics',con=engine, index = False)
        engine.close()
    except Exception as e:
            print(f"Error: {e}")

data = "/content/mechanics_contact_info_data.csv"
add_data_to_database(data)

In [3]:
%load_ext sql

In [4]:
# Connecting to the database
%sql sqlite:///mechanics_data.db

In [5]:
# Default to duplicated style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%%sql
SELECT * FROM mechanics
LIMIT 5;

 * sqlite:///mechanics_data.db
Done.

[(100, 'John', 'Doe', 'john.doe@example.com', '(555) 123-4567', '123 Main St', 'CA', 12345.0, 'General Repairs', 10.0),
 (101, 'Susan', 'Smith', 'susan.smith@example.com', '(555) 987-6543', '456 Oak St', 'NY', 56789.0, 'Brake Systems', 8.0),
 (102, 'Michael', 'Johnson', 'michael.johnson@example.com', '(555) 234-5678', '789 Elm St', 'TX', 67890.0, 'Engine Diagnostics', 12.0),
 (103, 'Lisa', 'Brown', 'lisa.brown@example.com', '(555) 345-6789', '101 Pine St', 'FL', 78901.0, 'Transmission Services', 9.0),
 (104, 'Robert', 'Miller', 'robert.miller@example.com', '(555) 876-5432', '202 Cedar St', 'WA', 89012.0, 'Suspension Repairs', 11.0)]

## Question 2: **Answer**

In [7]:
%%sql
SELECT
    Email,
    Phone
FROM mechanics
WHERE FirstName = 'Ella'
    AND LastName = 'Cooper'
    AND Specialization = 'Transmission Services';

 * sqlite:///mechanics_data.db
Done.

[('ella.cooper@example.com', '(555) 789-0123')]

## Question 3: **Answer**

In [8]:
%%sql
SELECT
    LastName,
    Email
FROM mechanics
WHERE State = 'TX'
    AND Specialization IN ('Electrical Systems', 'Air Conditioning');

 * sqlite:///mechanics_data.db
Done.

[('Price', 'andrew.price@example.com'), ('Brooks', 'sofia.brooks@example.com')]

## Question 4: **Answer**

In [9]:
%%sql
SELECT
    LastName,
    FirstName,
    ExperienceYears,
    Specialization
FROM mechanics
WHERE Specialization = 'Transmission Services'
    AND ExperienceYears >= 10;

 * sqlite:///mechanics_data.db
Done.

[('White', 'James', 11.0, 'Transmission Services'),
 ('Hall', 'Liam', 10.0, 'Transmission Services')]

## Question 5: **Answer**

In [10]:
%%sql
SELECT
    State,
    COUNT(*) AS number_of_mechanics
FROM mechanics
GROUP BY State
ORDER BY number_of_mechanics DESC
LIMIT 5;

 * sqlite:///mechanics_data.db
Done.

[('TX', 5), ('NY', 5), ('FL', 5), ('CA', 5), ('WA', 4)]

## Question 6: **Answer**

In [11]:
%%sql
SELECT
CASE
    WHEN MAX(CASE WHEN Specialization LIKE 'Electrical%'
             AND LastName LIKE 'Smith' THEN 1 ELSE 0 END) = 1
    THEN 1
    ELSE 0
END AS smith_exists
FROM mechanics;

 * sqlite:///mechanics_data.db
Done.

[(0,)]

## Question 7: **Answer**

In [12]:
%%sql
SELECT
-- Subquery to sum total experience in Texas
    (SELECT SUM(ExperienceYears)
     FROM mechanics
     WHERE State = 'TX') AS total_experience_in_tx,
-- Subquery to sum total experience in California
    (SELECT SUM(ExperienceYears)
     FROM mechanics
     WHERE State = 'CA') AS total_experience_in_ca;

 * sqlite:///mechanics_data.db
Done.

[(60.0, 50.0)]