## Question 2: **Answer**

In [1]:
import sqlite3

In [ ]:
def add_data_to_database():
    try:
        # Connect to the SQLite database
        with sqlite3.connect('sales_data.db') as conn:
            cursor = conn.cursor()
            # Create the table
            cursor.execute('''
            CREATE TABLE IF NOT EXISTS sales_team (
                id INTEGER PRIMARY KEY,
                name TEXT
            )
            ''')
            # Insert data into the table
            cursor.executemany('''
            INSERT INTO sales_team (id, name) VALUES (?, ?)
            ''', [
                (1, 'Mpho'),
                (2, 'marcus'),
                (3, 'Karen'),
                (4, 'Ben'),
                (5, 'Elijah'),
                (6, 'MAx'),
                (7, 'Mary')
               ]
                               )
            conn.commit()
            print("Table created successfully.")
    except sqlite3.Error as e:
        print(f"Error: {e}")

# Calling the function
add_data_to_database()

Error: UNIQUE constraint failed: sales_team.id

In [3]:
# Loading SQL extension
%load_ext sql

In [4]:
%sql sqlite:///sales_data.db

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%%sql
SELECT * FROM sales_team;

 * sqlite:///sales_data.db
Done.

[(1, 'Mpho'),
 (2, 'marcus'),
 (3, 'Karen'),
 (4, 'Ben'),
 (5, 'Elijah'),
 (6, 'MAx'),
 (7, 'Mary')]

## Question 3: **Answer**

In [7]:
%%sql
SELECT name
FROM sales_team
WHERE name LIKE 'Ma%';

 * sqlite:///sales_data.db
Done.

[('marcus',), ('MAx',), ('Mary',)]

## Questions 4: **Answer**

In [8]:
%%sql
SELECT name
FROM sales_team
WHERE name LIKE '%en';

 * sqlite:///sales_data.db
Done.

[('Karen',), ('Ben',)]

## Question 5: **Answer**

In [9]:
%%sql
SELECT name
FROM sales_team
WHERE name NOT LIKE 'Ma%';

 * sqlite:///sales_data.db
Done.

[('Mpho',), ('Karen',), ('Ben',), ('Elijah',)]

## Question 6: Answer

In [10]:
%%sql
SELECT name
FROM sales_team
WHERE name LIKE '%ij%';

 * sqlite:///sales_data.db
Done.

[('Elijah',)]

In [11]:
%%sql
SELECT name
FROM sales_team
WHERE name LIKE '%IJ%';

 * sqlite:///sales_data.db
Done.

[('Elijah',)]

In [12]:
%%sql
SELECT name
FROM sales_team
WHERE name GLOB '*ij*';

 * sqlite:///sales_data.db
Done.

[('Elijah',)]

In [13]:
%%sql
SELECT name AS name_status
FROM sales_team
WHERE name GLOB '*IJ*'

UNION ALL

-- Fallback if no match found
SELECT 'Name not found'
WHERE NOT EXISTS (
    SELECT 1 FROM sales_team WHERE name GLOB '*IJ*'
);

 * sqlite:///sales_data.db
Done.

[('Name not found',)]