## **Loading data**

In [ ]:
import sqlite3

In [ ]:
def add_data_to_database():
    try:
        # Connecting to the database
        with sqlite3.connect('musician_data.db') as conn:
            cursor = conn.cursor()

            cursor.execute('''
            CREATE TABLE musicians (
                id PRIMARY KEY,
                musician_name VARCHAR(50),
                song TEXT
                )
            ''')
            # data to load
            data = [
                    (1,'Taylor Swift', 'Love Story'),
                    (2, 'Ed Sheeran', 'Shape of You'),
                    (3, 'Taylor Swift', 'Blank Space'),
                    (4, 'ed sheeran', 'Perfect')
            ]
            cursor.executemany(
                '''
                INSERT INTO musicians (id, musician_name, song) VALUES (?, ?, ?)

                ''', data
            )
            conn.commit()
            print("Table added successfully")
    except Exception as e:
        print(f'Error: {e}')

# Calling function
add_data_to_database()

In [ ]:
# Loading SQL extension
%load_ext sql

In [ ]:
# Connecting to the database
%sql sqlite:///musician_data.db

In [ ]:
# Default to duplicated style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## Question 1: **Answer**

In [ ]:
%%sql
SELECT  DISTINCT LOWER(musician_name) AS unique_musicians
FROM musicians;

 * sqlite:///musician_data.db
Done.

[('taylor swift',), ('ed sheeran',)]

In [ ]:
%%sql
SELECT DISTINCT musician_name COLLATE NOCASE AS musician_names
FROM musicians;

 * sqlite:///musician_data.db
Done.

[('Taylor Swift',), ('Ed Sheeran',)]

## Question 2: **Answer**

In [ ]:
%%sql
SELECT
    ID,
    musician_name
FROM musicians
ORDER BY ID DESC
LIMIT 1;

 * sqlite:///musician_data.db
Done.

[(4, 'ed sheeran')]

## Question 3: **Answer**

In [ ]:
%%sql
SELECT song AS top_songs
FROM musicians;

 * sqlite:///musician_data.db
Done.

[('Love Story',), ('Shape of You',), ('Blank Space',), ('Perfect',)]

## Question 4: **Answer**

In [ ]:
%%sql
SELECT
    COUNT(song) AS songs_count
FROM musicians;

 * sqlite:///musician_data.db
Done.

[(4,)]

## Question 5: **Answer**

In [ ]:
%%sql
SELECT
    DISTINCT LOWER(musician_name) AS musician_name,
             LOWER(song) AS song
FROM musicians;

 * sqlite:///musician_data.db
Done.

[('taylor swift', 'love story'),
 ('ed sheeran', 'shape of you'),
 ('taylor swift', 'blank space'),
 ('ed sheeran', 'perfect')]