## Question 1. Answer

In [1]:
import sqlite3
import csv

In [ ]:
def load_scientists_from_csv(data):
    try:
        # Connecting to the database
        conn = sqlite3.connect('scientists_data.db')
        cursor = conn.cursor()

        # Creating table if it doesn't exist
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS scientists (
                scientist_id INTEGER PRIMARY KEY,
                name TEXT,
                birth_year INT,
                nationality TEXT,
                accomplishment TEXT
            )
        ''')
        # Loading data from the CSV file
        with open(data, 'r') as csv_file:
            csv_reader = csv.reader(csv_file)
            next(csv_reader)  # Skip the header row
            for row in csv_reader:
                cursor.execute("INSERT INTO scientists VALUES (?, ?, ?, ?, ?)", row)
        conn.commit()
        print("Data loaded successfully!")
    except Exception as e:
        print(f"Error occurred: {e}")
    finally:
        conn.close()

# Loading data
data = "/content/scientists1.csv"
load_scientists_from_csv(data)

Error occurred: UNIQUE constraint failed: scientists.scientist_id

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///scientists_data.db

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%%sql
SELECT * FROM scientists
LIMIT 5;

 * sqlite:///scientists_data.db
Done.

[(1, 'Albert  Einstein', 1879, 'German', 'Theory_of_Relativity'),
 (2, 'Marie  Curie', 1867, 'Polish', 'Radioactivity'),
 (3, 'Isaac  Newton', 1643, 'English', 'Laws_of_Motion'),
 (4, 'Charles  Darwin', 1809, 'English', 'Theory_of_Evolution'),
 (5, 'Nikola  Tesla', 1856, 'Serbian', 'AC_Electricity')]

## Question 2. Answer

In [7]:
%%sql
UPDATE scientists
SET name = TRIM(name),
    nationality = TRIM(nationality),
    accomplishment = TRIM(accomplishment);

 * sqlite:///scientists_data.db
40 rows affected.

[]

In [8]:
%%sql
SELECT COUNT(*) AS leading_trailing_spaces_count
FROM scientists
WHERE LENGTH(name) != LENGTH(TRIM(name))
   OR LENGTH(nationality) != LENGTH(TRIM(nationality))
   OR LENGTH(accomplishment) != LENGTH(TRIM(accomplishment));

 * sqlite:///scientists_data.db
Done.

[(0,)]

## Question 3.	Answer

In [9]:
%%sql
SELECT
    SUBSTR(name, 1, INSTR(name, ' ') - 1) AS first_name
FROM scientists
LIMIT 5;

 * sqlite:///scientists_data.db
Done.

[('Albert',), ('Marie',), ('Isaac',), ('Charles',), ('Nikola',)]

## Question 4.	Answer

In [10]:
%%sql
UPDATE scientists
SET accomplishment = REPLACE(accomplishment, ' ', '_');

 * sqlite:///scientists_data.db
40 rows affected.

[]

In [11]:
%%sql
SELECT accomplishment FROM scientists
LIMIT 5;

 * sqlite:///scientists_data.db
Done.

[('Theory_of_Relativity',),
 ('Radioactivity',),
 ('Laws_of_Motion',),
 ('Theory_of_Evolution',),
 ('AC_Electricity',)]

## Question 5. Answer

In [12]:
%%sql
SELECT
    SUBSTR(name, 1, INSTR(name, ' ') - 1) || '_' ||
    birth_year AS first_name_birth_year
FROM scientists
LIMIT 5;

 * sqlite:///scientists_data.db
Done.

[('Albert_1879',),
 ('Marie_1867',),
 ('Isaac_1643',),
 ('Charles_1809',),
 ('Nikola_1856',)]

## Question 6.	Answer

In [13]:
%%sql
UPDATE scientists
SET name = UPPER(SUBSTR(name, 1, 1)) ||
           LOWER(SUBSTR(name, 2, INSTR(name, ' ') - 1)) ||
           ' ' ||
           UPPER(SUBSTR(name, INSTR(name, ' ') + 1, 1)) ||
           LOWER(SUBSTR(name, INSTR(name, ' ') + 2))
WHERE name IS NOT NULL;

 * sqlite:///scientists_data.db
40 rows affected.

[]

In [14]:
%%sql
SELECT name FROM scientists
LIMIT 5;

 * sqlite:///scientists_data.db
Done.

[('Albert   einstein',),
 ('Marie   curie',),
 ('Isaac   newton',),
 ('Charles   darwin',),
 ('Nikola   tesla',)]

In [15]:
# %%sql
# DROP TABLE scientists;