## Question 1: **Answer**

In [1]:
import sqlite3
import csv

In [ ]:
def add_inspirational_data(input_data):
    try:
        conn = sqlite3.connect("inspirational_data.db")
        cursor = conn.cursor()
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS inspirational (
            id PRIMARY KEY,
            quote TEXT,
            author TEXT)
            """
        )
        with open(input_data, "r") as csv_file:
            csv_reader = csv.reader(csv_file)
            # skip headers
            next(csv_reader)
            for row in csv_reader:
                cursor.execute("INSERT INTO inspirational VALUES (?, ?, ?)", row)
        conn.commit()
    except Exception as e:
        print(f"Error: {e}")
    finally:
        conn.close()

data = "/content/inspirational_quotes.csv"
add_inspirational_data(data)

In [3]:
# Loading the extension
%load_ext sql

In [4]:
# Using the extension to connect to database
%sql sqlite:///inspirational_data.db

In [5]:
# Default to duplicated style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%%sql
SELECT * FROM inspirational
LIMIT 5;

 * sqlite:///inspirational_data.db
Done.

[('1', 'The only way to do great work is to love what you do.', 'Steve Jobs'),
 ('2', "Believe you can and you're halfway there.", 'Theodore Roosevelt'),
 ('3', 'Success is not final, failure is not fatal: It is the courage to continue that counts.', 'Winston Churchill'),
 ('4', 'The only limit to our realization of tomorrow will be our doubts of today.', 'Franklin D. Roosevelt'),
 ('5', 'The only source of knowledge is experience.', 'Albert Einstein')]

## Questions 2: **Answer**

In [7]:
%%sql
SELECT
    quote,
    author,
    printf('%20s', LENGTH(REPLACE(quote, " ", ""))) AS quote_length
FROM inspirational
WHERE quote LIKE '%do what it does%';

 * sqlite:///inspirational_data.db
Done.

[("Don't watch the clock; do what it does. Keep going.", 'Sam Levenson', '                  42')]

## Question 3: **Answer**

In [8]:
%%sql
SELECT
    CASE
        WHEN INSTR(author, ' ') > 0 THEN SUBSTR(author, 1, INSTR(author, ' ') - 1)
        ELSE author
    END AS first_name,
    CASE
        WHEN INSTR(author, ' ') > 0 THEN SUBSTR(author, INSTR(author, ' ') + 1)
        ELSE ''
    END AS last_name
FROM inspirational
LIMIT 5;

 * sqlite:///inspirational_data.db
Done.

[('Steve', 'Jobs'),
 ('Theodore', 'Roosevelt'),
 ('Winston', 'Churchill'),
 ('Franklin', 'D. Roosevelt'),
 ('Albert', 'Einstein')]

## Question 4: **Answer**

In [9]:
%%sql
SELECT
    quote,
    LENGTH(REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    REPLACE(quote, '.', ''), ',', ''), ':', ''), ';', ''), ' ', ''))
                    AS quote_length
FROM inspirational
ORDER BY quote_length DESC
LIMIT 3;

 * sqlite:///inspirational_data.db
Done.

[('Believe in yourself and all that you are. Know that there is something inside you that is greater than any obstacle.', 94),
 ('What you get by achieving your goals is not as important as what you become by achieving your goals.', 81),
 ('Success is not final, failure is not fatal: It is the courage to continue that counts.', 68)]

## Question 5: **Answer**

In [10]:
%%sql
UPDATE inspirational
SET quote = UPPER(TRIM(quote));

 * sqlite:///inspirational_data.db
20 rows affected.

[]

In [11]:
%%sql
SELECT COUNT(*) AS not_updated_rows
FROM inspirational
WHERE quote GLOB '*[a-z]*' AND quote != TRIM(quote);

 * sqlite:///inspirational_data.db
Done.

[(0,)]